.chart-legend {
   -fx-background-color:  transparent;
   -fx-pref-width: 300;
   -fx-font-size: 8px;
   -fx-alignment: center;
}

.axis-label {
  -fx-text-fill: white;
}

.chart-legend-item{
    -fx-text-fill: white;
}